body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4e8c1;
}

h1 {
    color: #624301;
}

p {
    color: #7d7d7d;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    width: 100%;
    max-width: 400px;
    padding: 15px 20px;
    font-size: 16px;
    border: none;
    background-color: #e3c077;
    color: #3d3d3d;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

input[type="submit"] {
    width: 100%;
    max-width: 200px;
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    background-color: #e3c077;
    color: #3d3d3d;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
}

button:hover,
input[type="submit"]:hover {
    background-color: #c5ac4a;
    color: #322f2b;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #7d7d7d;
}

a {
    color: #0066cc;
    text-decoration: none;
    border: 15px;
}

a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
}

th {
    background-color: #8b7a35;
    color: white;
    font-weight: bold;
    padding: 12px 15px;
}

td {
    padding: 12px 15px;
	    border-bottom: 2px solid #8b7a35;
    border-left: 2px solid #8b7a35;
    border-right: 2px solid #8b7a35;
}

tr {
    border-bottom: 1px solid #ddd;
}